* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-drag: none;
}
html,
body {
  min-height: 100vh;
  overflow-x: hidden;
  user-select: none;
  -webkit-user-drag: none;
}
:root {
  --headerTop-heigth: 85px;
}
a,
a:focus {
  text-decoration: none;
}
ul {
  color: #666;
  list-style-type: decimal;
}
.link {
  font-size: 15px;
  color: #666;
  text-align: right;
  display: block;
  width: 100%;
  direction: rtl;
  margin: 25px 0;
}
.link.red {
  color: rgb(255, 0, 21);
}
.link.primary {
  color: rgb(5, 98, 219);
}
.link-no-style {
  font-size: 15px;
  color: var(--gen-color);
  direction: rtl;
}
.header-sm {
  font-size: 17px;
}
.header {
  font-family: 'Rubik', 'Dirooz';
  font-weight: 500;
  font-size: 25px;
  color: #161618;
}
.header-large {
  font-size: 35px;
  font-weight: 500;
}
#app button,
.dvsp-button {
  font-family: 'Ubuntu', 'Dirooz';
  cursor: pointer;
}
#app button:disabled,
.dvsp-button:disabled {
  cursor: default;
}
.dvsp-button.normal-pad {
  padding-top: 10px;
}
.button-with-spinner {
  position: relative;
  overflow: hidden;
}
.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.pt {
  margin: 15px 0;
}
.w-100 {
  width: 100%;
}
.d-block {
  display: block;
}
.text-right {
  text-align: right;
}
.bg-test {
  background-color: gray;
}
.input {
  outline: none;
  width: 100%;
  display: block;
  height: 45px;
  border: none;
  border-radius: 50px;
  border-top-right-radius: 6px;
  background-color: rgb(241, 241, 241);
  padding: 0 15px;
  font-family: 'Ubuntu', 'Samim';
  font-size: 17px;
  margin-bottom: 5px;
  transition: 0.4s ease;
}
.input.border-input {
  border-radius: 30px;
  height: 50px;
  font-size: 15px;
  font-family: 'Roboto', 'Vazir';
}
.input-label {
  position: relative;
  left: 50%;
  margin: 0;
  transform: translate(-50%);
  direction: rtl;
  text-align: right;
  width: 100%;
  display: block;
  padding: 5px 10px;
  font-family: 'Quicksand', 'Samim';
  margin-bottom: 5px;
}
.input:focus {
  background-color: rgb(231, 231, 231);
}
.input-checkbox .cont {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  padding-top: 2px;
  cursor: pointer;
  font-size: 13px;
  font-family: 'Quicksand', 'Samim';
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.input-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.input-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 7px;
  transition: 0.3s ease;
}
.input-checkbox .cont:hover input ~ .checkmark {
  background-color: #ccc;
}
.input-checkbox .cont input:checked ~ .checkmark {
  background-color: var(--gen-color);
}
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}
.cont input:checked ~ .checkmark:after {
  display: block;
}
.cont .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.like-button svg {
  width: 30px;
}
.like-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  height: 35px;
  padding: 4px 0;
  border-radius: 5px;
  fill: #111;
  color: #111;
  margin: 0;
}
.like-button.liked {
  fill: #ff002b;
  color: #ff002b;
}
.dvsp-button {
  cursor: pointer;
  padding: 8px 30px;
  display: inline-block;
  height: 45px;
  font-size: 15px;
  background-color: var(--gen-color);
  border-radius: 30px;
  color: #fff;
  transition: 0.4s ease;
  border: 1px solid var(--gen-color);
}
.dvsp-button:hover {
  background-color: var(--gen-color-medium-opacity);
}
.dvsp-button:disabled:hover {
  background-color: var(--gen-color);
}
.dvsp-button.dvsp-button-outline {
  background-color: transparent;
  color: var(--gen-color);
}
.dvsp-button.dvsp-button-outline:hover {
  background-color: rgb(var(--gen-color-org), 0.2);
}
.dvsp-group-button .dvsp-button:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.dvsp-group-button .dvsp-button:last-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.dvsp-button.dvsp-button-icon {
  border-radius: 50px;
  width: 45px;
  height: 45px;
  padding: 10px;
  text-align: center;
}
.dvsp-button.dvsp-button-danger {
  background-color: #ff002b;
  border-color: #ff002b;
}
.dvsp-button.dvsp-button-danger:hover {
  background-color: #e6042a;
  border-color: #e6042a;
}
.d-inline-block {
  display: inline-block;
}
#Navbar-Signup-Button {
  margin-right: 5px;
  margin-left: 10px;
}
body {
  background: #fff;
}
#logged_user {
  position: relative;
  user-select: none;
}
#logged_user #user_avatar svg {
  fill: rgb(184, 184, 184);
  color: rgb(184, 184, 184);
}
#logged_user #user_avatar {
  position: relative;
  top: 4px;
  width: 40px;
  height: 40px;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
#logged_user #user_avatar ion-icon {
  font-size: 20px;
}
#logged_user_username {
  position: relative;
  top: -1px;
  padding: 0 10px;
  font-family: 'Noto Sans HK';
  font-weight: 400;
  color: #777;
  direction: ltr;
}
#router-view {
  position: absolute;
  top: var(--headerTop-heigth);
  width: 100%;
}
#headerTop {
  user-select: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: var(--headerTop-heigth);
  background-color: rgba(255, 255, 255, 0.925);
  z-index: 75;
}
#headerTop.hiddenHeaderTop {
  display: none;
}
#headerTop #headerBrand {
  position: absolute;
  left: 0;
  height: 100%;
  display: flex;
  width: max-content;
  align-items: center;
  padding: 0 30px;
  font-size: 24px;
  user-select: none;
}
#headerBrand {
  user-select: none;
  cursor: pointer;
}
#headerTop #headerBrand,
#headerTop #headerBrand a,
#headerTop #headerBrand.nuxt-link-exact-active {
  color: var(--gen-color);
}
#headerTop .Navbar {
  position: absolute;
  padding: 0 10px;
  padding-right: 200px;
  top: 0px;
  right: 0;
  left: 220px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  direction: rtl;
}
#headerTop .Navbar .Navbar-Right {
  position: absolute;
  right: 10px;
  height: 100%;
  justify-content: flex-start;
  padding: 0 10px;
  padding-top: 25px;
}
#headerTop .Navbar-Link.Navbar-Link-Active {
  color: var(--gen-color);
}
#headerTop .Navbar-Link.Navbar-Link-Active,
#headerTop a:not(.dvsp-button)[aria-current='page'],
#headerTop a:not(.dvsp-button).nuxt-link-exact-active {
  color: vaR(--gen-color);
  font-weight: bold;
}

#headerTop .Navbar-Link.Navbar-Link-Active::after,
#headerTop a:not(.dvsp-button)[aria-current='page']::after,
#headerTop a:not(.dvsp-button).nuxt-link-exact-active::after {
  position: absolute;
  content: '';
  display: block;
  width: 28%;
  height: 4px;
  bottom: 0;
  right: 50%;
  transform: translate(50%);
  border-radius: 300px;
  background-color: var(--gen-color);
}
#headerTop #headerBrand a::after {
  display: none;
  content: '';
}
.Navbar-Link,
.Navbar-Dropdown,
.Navbar-Dropdown .Navbar-Dropdown-Button {
  position: relative;
  color: rgb(102, 102, 102);
  padding: 16px 13px;
  margin: 0 3px;
  display: inline-block;
  font-size: 15px;
}
.Navbar-Dropdown .Navbar-Dropdown-Button {
  background-color: transparent;
  border: none;
}
.Navbar-Dropdown .Navbar-Dropdown-Content {
  display: none;
  opacity: 1;
  z-index: 80;
  position: absolute;
  top: calc(100% + 0px);
  right: 23px;
  min-width: 200px;
  background-color: rgba(255, 255, 255);
  border-radius: 15px;
  border-top-right-radius: 0;
  box-shadow: 0px 0px 5px rgb(26, 26, 26, 0.03),
    0px 10px 30px rgb(26, 26, 26, 0.08), 0px 30px 40px rgb(26, 26, 26, 0.02);
}
.Navbar-Dropdown .Navbar-Dropdown-Content::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  top: -40px;

  display: none;
}
.Navbar-Dropdown .Navbar-Dropdown-Content .Navbar-Link {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 13px 15px;
  transition: all 0.3s ease;
}
.Navbar-Dropdown .Navbar-Dropdown-Content .Navbar-Link:hover {
  color: #555;
  padding-right: 25px;
}
#headerTop
  .Navbar-Dropdown
  .Navbar-Dropdown-Content
  .Navbar-Link.Navbar-Link-Active::after,
#headerTop
  .Navbar-Dropdown
  .Navbar-Dropdown-Content
  .Navbar-Link:not(.dvsp-button)[aria-current='page']::after,
#headerTop
  .Navbar-Dropdown
  .Navbar-Dropdown-Content
  .Navbar-Link:not(.dvsp-button).nuxt-link-exact-active::after {
  position: absolute;
  content: '';
  display: block;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
  width: 5px;
  height: 5px;
  background-color: var(--gen-color);
  box-shadow: 0px 0px 10px var(--gen-color);
  border-radius: 50px;
}
#headerTop
  .Navbar-MB
  .Navbar-Dropdown
  .Navbar-Dropdown-Content
  .Navbar-Link.Navbar-Link-Active::after,
#headerTop
  .Navbar-MB
  .Navbar-Dropdown
  .Navbar-Dropdown-Content
  .Navbar-Link:not(.dvsp-button)[aria-current='page']::after,
#headerTop
  .Navbar-MB
  .Navbar-Dropdown
  .Navbar-Dropdown-Content
  .Navbar-Link:not(.dvsp-button).nuxt-link-exact-active::after {
  display: none;
}
#headerTop
  .Navbar-Dropdown
  .Navbar-Dropdown-Content
  .Navbar-Link.Navbar-Link-Active,
#headerTop
  .Navbar-Dropdown
  .Navbar-Dropdown-Content
  .Navbar-Link:not(.dvsp-button)[aria-current='page'],
#headerTop
  .Navbar-Dropdown
  .Navbar-Dropdown-Content
  .Navbar-Link:not(.dvsp-button).nuxt-link-exact-active {
  padding-right: 25px;
}
#headerTop
  .Navbar-MB
  .Navbar-Dropdown
  .Navbar-Dropdown-Content
  .Navbar-Link.Navbar-Link-Active,
#headerTop
  .Navbar-MB
  .Navbar-Dropdown
  .Navbar-Dropdown-Content
  .Navbar-Link:not(.dvsp-button)[aria-current='page'],
#headerTop
  .Navbar-MB
  .Navbar-Dropdown
  .Navbar-Dropdown-Content
  .Navbar-Link:not(.dvsp-button).nuxt-link-exact-active {
  padding-right: 30px;
}
#headerTop .Navbar-MB .Navbar-Link.Navbar-Link-Active,
#headerTop .Navbar-MB a:not(.dvsp-button)[aria-current='page'],
#headerTop .Navbar-MB a:not(.dvsp-button).nuxt-link-exact-active {
  color: vaR(--gen-color);
  font-weight: bold;
}
.Navbar-MB {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  top: 0px;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 78;
  display: block;

  overflow-y: scroll;
}
.Navbar .Navbar-D-I-Block {
  display: inline-block;
}
.Navbar-MB .margin-nav {
  margin-top: 90px;
}
.Navbar-MB nav {
  margin-bottom: 30px;
}
#headerTop
  .Navbar-MB
  .Navbar-Dropdown
  .Navbar-Dropdown-Content
  .Navbar-Link.Navbar-Link-Active::after,
#headerTop
  .Navbar-MB
  .Navbar-Dropdown
  .Navbar-Dropdown-Content
  .Navbar-Link:not(.dvsp-button)[aria-current='page']::after,
#headerTop
  .Navbar-MB
  .Navbar-Dropdown
  .Navbar-Dropdown-Content
  .Navbar-Link:not(.dvsp-button).nuxt-link-exact-active::after {
  right: 8px;
}
#headerTop .Navbar-MB .Navbar-Link,
#headerTop .Navbar-MB .Navbar-Dropdown,
#headerTop .Navbar-MB .Navbar-Dropdown .Navbar-Dropdown-Button {
  position: relative;
  display: block;
  text-align: right;
  padding: 10px 30px;
  color: rgb(102, 102, 102);
  font-size: 17px;
}
#headerTop .Navbar-MB .Navbar-Dropdown .Navbar-Dropdown-Button {
  width: 100%;
  padding: 0;
}
#headerTop .Navbar-MB .dvsp-button {
  position: relative;
  display: block;
  text-align: center;
  width: calc(100% - 60px);
  padding: 10px 0;
  margin: 8px 0;
  left: 50%;
  transform: translate(-50%);
}
#headerTop .Navbar-MB .Navbar-Dropdown .Navbar-Dropdown-Content {
  position: relative;
  margin-top: 10px;
  padding-right: 20px;
  right: 0;
  box-shadow: none;
  display: block;
}
#headerTop .Navbar-MB .Navbar-Dropdown .Navbar-Dropdown-Content::after {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  right: 20px;
  width: 3px;
  height: 85%;
  content: '';
  display: inline-block;
  background-color: var(--gen-color);
}
#MenuButton {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%) scale(0.6);
  z-index: 83;

  display: none;
}
@media screen and (max-width: 1200px) {
  #headerTop .Navbar {
    display: none;
  }
  #MenuButton {
    display: flex;
  }
  #Navbar-Signup-Button {
    margin: 0;
  }
  .Navbar-D-I-Block {
    width: 100%;
  }
}

#headerTop .Navbar-MB .Navbar-Link.Navbar-Link-Active::after,
#headerTop .Navbar-MB a:not(.dvsp-button)[aria-current='page']::after,
#headerTop .Navbar-MB a:not(.dvsp-button).nuxt-link-exact-active::after {
  display: none;
}
.menuButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.menuButton .line {
  fill: none;
  stroke: var(--gen-color);
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menuButton .line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.menuButton .line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.menuButton .line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.menuButton.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.menuButton.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.menuButton.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.form {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 1300px;
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 50px 0;
}
.form .form-svg {
  position: relative;
  width: 95%;
  margin-bottom: 50px;
  left: 0px;
}
.form .form-content {
  position: relative;
}
.form-tab {
  right: 0;
}
@media screen and (max-width: 1350px) {
  .form {
    width: 950px;
  }
}
@media screen and (max-width: 1100px) {
  .form {
    width: 80%;
    grid-template-columns: 100%;
    grid-column-gap: 0px;
  }
  .form .form-svg {
    display: none;
  }
}
.abs-form {
  width: 450px;
  height: 500px;
  display: block;
  margin-bottom: 120px;
}
.abs-form .form-content {
  position: absolute;
  display: block;
  width: 450px;
  height: 500px;
  right: 22%;
  top: 40px;
  margin-bottom: 60px;
}

.abs-form .abs-form-svg,
.abs-form .abs-form-mini-svg {
  position: fixed;
  width: 500px;
}
.abs-form .abs-form-svg.bottom-left {
  bottom: -3px;
  left: 50px;
}
.abs-form .abs-form-mini-svg.bottom-right {
  width: 100px;
  bottom: -10px;
  right: 50px;
}
@media screen and (max-width: 1470px) {
  .abs-form .form-content {
    right: 17%;
  }
}
@media screen and (max-width: 1400px) {
  .abs-form .form-content {
    right: 20%;
  }
  .abs-form .abs-form-svg {
    width: 400px;
  }
}
@media screen and (max-width: 1300px) {
  .abs-form .form-content {
    right: 50%;
    transform: translate(50%);
  }
  .abs-form .abs-form-svg {
    display: none;
  }
}
@media screen and (max-width: 945px) {
  .abs-form .form-content {
    top: 10px;
    right: 50px;
    transform: none;
  }
  .abs-form .abs-form-mini-svg.bottom-right {
    right: inherit;
    left: 50px;
  }
}
@media screen and (max-width: 720px) {
  .abs-form .abs-form-mini-svg {
    display: none;
  }
  .abs-form .form-content {
    right: 50%;
    transform: translate(50%);
  }
}

.form-title {
  font-family: 'Ubuntu', 'Vazir';
  font-size: 25px;
  text-align: right;
  padding: 10px 0;
  color: #444;
}
.form .form-content,
.abs-form .form-content {
  padding: 15px 20px;
}
@media screen and (max-width: 540px) {
  #signup .abs-form .form-content,
  #signup .abs-form {
    width: 100%;
  }
  #signup .form .form-content,
  #signup .abs-form .form-content {
    padding: 0;
  }
  #signin .abs-form .form-content,
  #signin .abs-form {
    width: 100%;
  }
  #signin .form .form-content,
  #signin .abs-form .form-content {
    padding: 30px;
  }
}
.circle-hr {
  border: none;
  border-bottom: 1px solid #ddd;
  margin: 15px 0;
}
.circle-hr::after {
  width: 30px;
  height: 30px;
  position: absolute;
  content: '';
  display: blcok;
  margin-top: -15px;
  left: 50%;
  transform: translate(-50%);
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 50px;
}
.full-svg {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 600px;
  margin-top: 60px;
  margin-bottom: 80px;
}
.full-svg-text {
  position: absolute;
  font-size: 'Quicksand', 'Vazir';
  font-size: 25px;
  color: #555;
  direction: rtl;
  text-align: center;
  width: 100%;
  display: block;
  bottom: 0;
}
#dashboard {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: calc(
    var(--headerTop-heigth) - var(--headerTop-heigth) - var(--headerTop-heigth)
  );
}
:not(#Navbar) .Navbar-Dropdown .Navbar-Dropdown-Content {
  top: calc(100% - 10px);
  z-index: 2;
}
:not(#Navbar) .Navbar-Dropdown .Navbar-Dropdown-Content::after {
  display: block;
  z-index: -1;
}
:root {
  --leftBar-width: 100px;
  --dashboard_content-width: calc(100% - var(--leftBar-width));
  --topNavbar-heigth: 85px;
}
#leftBar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: var(--leftBar-width);
  background-color: #ececf6;
}
#leftBar::-webkit-scrollbar {
  width: 3px;
}
#leftBar::-webkit-scrollbar-track {
  background: #f5f5fd;
}
#leftBar::-webkit-scrollbar-thumb {
  background-color: transparent;
}
#leftBar::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}
@media only screen and (min-width: 720px) {
  #leftBar {
    overflow-y: scroll;
  }
}
#dashboard_content {
  position: relative;
  left: var(--leftBar-width);
  width: var(--dashboard_content-width);
  padding: 40px 25px;
}
#dashboard,
#dashboard_content {
  background-color: #f5f5fd;
}
#topNavbar {
  position: relative;
  top: 0;
  left: var(--leftBar-width);
  width: var(--dashboard_content-width);
  height: var(--topNavbar-heigth);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 40;

  background-color: #f5f5fdf3;
}
#topNavbar #logged_user_username {
  top: -5px;
}
#topNavbar #user_avatar {
  top: 1px;
}
#topNavbar #headerBrand {
  position: absolute;
  left: 30px;
  font-size: 25px;
}
#topNavbar #headerBrand,
#topNavbar #headerBrand a {
  color: var(--gen-color);
}
#leftBarDots {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#leftBarDots span {
  border-radius: 50px;
  --size: 10px;
  width: var(--size);
  height: var(--size);
  display: inline-block;
  margin: 0 3px;
  background-color: var(--gen-color);
}
#leftBarDots span:nth-child(1) {
  background-color: #eb080b;
}
#leftBarDots span:nth-child(2) {
  background-color: #ffbf1d;
}
#leftBarDots span:nth-child(3) {
  background-color: #2aa72a;
}
.flex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: right;
  flex-direction: row-reverse;
}
@media screen and (max-width: 1200px) {
  #dashboard_content .flex {
    flex-direction: column-reverse;
  }
  #dashboard_content .white-box {
    margin: 10px 0;
  }
}
.white-box {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 25px;
  box-shadow: 0px 10px 30px rgba(7, 7, 7, 0.03),
    0px 30px 50px rgba(7, 7, 7, 0.04);
  padding: 30px;
}
@media only screen and (max-width: 800px) {
  .white-box {
    padding: 10px;
  }
  #dashboard_content {
    padding: 30px 20px;
  }
}
.white-box:first-child,
.white-box:last-child {
  margin: 0;
}
.white-box .white-box-icon svg {
  --size: 33px;
  width: var(--size);
  height: var(--size);
}
.white-box .white-box-header {
  font-family: 'Rubik', 'Samim';
  padding: 10px 0px;
}
.white-box .white-box-value {
  font-size: 25px;
  font-family: 'Raleway', 'Dirooz';
}
#leftBarNavbar {
  width: 100%;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  flex-direction: column;
}
#leftBarNavbar .leftBarNavbar-Item {
  position: relative;
  width: 100%;
  margin: 23px 0;
  padding: 10px 0;
  fill: #a8a9ad;
  color: #a8a9ad;
}
#leftBarNavbar .leftBarNavbar-Item.nuxt-link-exact-active {
  fill: #333;
  color: #333;
}
#leftBarNavbar .leftBarNavbar-Item::after {
  position: absolute;
  display: block;
  content: '';
  width: 2px;
  height: 100%;
  background-color: #333;
  top: 0;
  right: 0;
  opacity: 0;
  height: 0;
}
#leftBarNavbar .leftBarNavbar-Item.nuxt-link-exact-active::after {
  opacity: 1;
  height: 100%;
}
#leftBarNavbar .leftBarNavbar-Item svg {
  --size: 26px;
  width: var(--size);
}
#posts_container {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 90%;
  display: grid;
  grid-template-columns: calc(33% - 0px) calc(33% - 15px) calc(33% - 15px);
  grid-column-gap: 15px;
  margin-top: 40px;
  justify-content: end;
}
@media screen and (max-width: 720px) {
  #leftBar {
    position: relative;
    z-index: 20;
    width: 100%;
    height: 90px;
  }
  #leftBar #leftBarDots {
    display: none;
  }
  #leftBar #leftBarNavbar {
    flex-direction: row;
    padding: 0 15px;
  }
  #dashboard_content {
    width: 100%;
    left: 0;
  }
  #leftBar #leftBarNavbar .leftBarNavbar-Item::after {
    top: auto;
    bottom: 0;
    width: 28%;
    height: 2px;
    right: 50%;
    transform: translate(50%);
  }
  #topNavbar {
    left: 0;
    right: 0;
    width: 100%;
  }
  #topNavbar #logged_user {
    position: absolute;
    top: 48px;
    right: 50%;
    transform: translate(50%);
    padding: 10px 0;
    padding-left: 22px;
    margin: 0;
  }
  #topNavbar #logged_user > .d-inline-block:nth-child(1) {
    display: none;
  }
  #topNavbar #headerBrand {
    width: 100%;
    height: 30%;
    left: 50%;
    top: 0px;
    transform: translate(-50%);
    padding: 30px 0;

    padding-left: 22px;
  }
  #topNavbar #headerBrand a {
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 26px;
  }
}
@media screen and (max-width: 1300px) {
  #posts_container {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    grid-column-gap: 10px;
  }
}
@media screen and (max-width: 850px) {
  #posts_container {
    grid-template-columns: 100%;
    grid-column-gap: 0px;
  }
}
.post-box {
  width: 100%;
  text-align: right;
  direction: rtl;
}
.post-box .post-header {
  font-family: 'Ubuntu', 'Dirooz';
  font-weight: 600;
  margin-bottom: 7px;
}
.post-description {
  color: #555;
  font-family: 'Quicksand', 'Samim';
  font-weight: 500;
}
.post-read-more {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  text-align: left;
  padding: 15px 0;
}
.post-box .post-cover-img,
.img-loader {
  width: 100%;
  border-radius: 5px;
}
.img-loader {
  height: 250px;
  overflow: hidden;
  background-color: rgb(230, 230, 230);
}
.img-loader img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  min-height: 100%;
  height: auto;
  opacity: 0;
  transition: 0.3s ease;
}
.img-loader img.loaded {
  opacity: 1;
}
.search-bar {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  display: block;
  width: 90%;
  background-color: rgb(241, 241, 241);
  border-radius: 50px;
  height: 50px;
}
.search-bar input,
.search-bar .input {
  position: absolute;
  right: 0;
  z-index: 2;
  width: calc(100% - 55px);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.search-bar .search-bar-go {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0 14px;
  padding-right: 8px;
  padding-top: 3px;
  width: 55px;
  height: auto;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  background-color: rgb(241, 241, 241);
  border: none;
  outline: none;
  color: #777;
  cursor: pointer;
  z-index: 20;
}
.search-bar .search-bar-go,
.search-bar .input {
  transition: 0.3s ease;
}
.search-bar:focus > .search-bar-go,
.search-bar:focus > .search-bar .input,
.search-bar .input:focus ~ .search-bar-go,
.search-bar .search-bar-go ~ .search-bar .input {
  background-color: rgb(231, 231, 231);
}
.button_loading_state {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: var(--gen-color);
}
.button_loading_state::after {
  position: absolute;
  width: 18px;
  height: 18px;
  content: '';
  display: block;
  border: 3px solid transparent;
  border-radius: 50px;
  border-top-color: #fff;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@media screen and (max-width: 720px) {
  #user_access_badge {
    position: fixed;
    width: 150px;
    padding: 10px 20px;
    text-align: center;
    color: #fff;
    z-index: 70;
    padding-top: 30px;
    top: -10px;
    right: -57px;
    transform: rotate(45deg);
  }
}
@media screen and (min-width: 720px) {
  #user_access_badge {
    position: fixed;
    padding: 5px 0px;
    width: calc(100% - var(--leftBar-width));
    text-align: center;
    color: #fff;
    z-index: 70;
    top: auto;
    transform: none;
    right: 0;
    bottom: 0;
  }
}
